In [17]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import time
from pprint import pprint


# Incorporated citipy to determine city based on latitude and longitude
from citipy import citipy

# Output File (CSV)
output_data_file = "output_data/us_cities.csv"

In [18]:
# list of cities
cities = ['houston','dallas','austin','baltimore','sacramento','san francisco','new jersey']

In [19]:
#  API call structure / Save config information
# url = "http://api.openweathermap.org/data/2.5/weather?units=Imperial&"
url = "https://api.teleport.org/api/urban_areas/slug:"

In [20]:
# set up lists to hold response info
housing = []
cost_of_living = []
safety = []
healthcare = []
education = []
economy = []
outdoors = []

processed_cities = []

# Loop through the list of cities and perform a request for data on each
for city in cities:
    try:
        
        # Build query URL without city
        query_url = url + city + "/scores/"
        response = requests.get(query_url).json()
        print(query_url)
#         pprint(response)

        housing.append(response['categories'][0]['score_out_of_10'])
        cost_of_living.append(response['categories'][1]['score_out_of_10'])
        safety.append(response['categories'][7]['score_out_of_10'])
        healthcare.append(response['categories'][8]['score_out_of_10'])
        education.append(response['categories'][9]['score_out_of_10'])
        economy.append(response['categories'][11]['score_out_of_10'])
        outdoors.append(response['categories'][16]['score_out_of_10'])


#         temp.append(response['main']['temp'])
#         humid.append(response['main']['humidity'])
#         cloudy.append(response['clouds']['all'])
#         windy.append(response['wind']['speed'])
#         # Include print log with city id and name 
#         name = response['name']
#         cityid = response['id']
#         print(f"The city being processed is: {name} with an ID of {cityid}")
        processed_cities.append(city)
    except:
        print(f"This row has an error, see cities list above")
        print(query_url)
#         cities.remove(city)
        pass
#         continue
    



# print(f"The latitude information received is: {lat}")
# print(f"The temperature information received is: {temp}")

# print(response)

https://api.teleport.org/api/urban_areas/slug:houston/scores/
https://api.teleport.org/api/urban_areas/slug:dallas/scores/
https://api.teleport.org/api/urban_areas/slug:austin/scores/
https://api.teleport.org/api/urban_areas/slug:baltimore/scores/
https://api.teleport.org/api/urban_areas/slug:sacramento/scores/
This row has an error, see cities list above
https://api.teleport.org/api/urban_areas/slug:sacramento/scores/
This row has an error, see cities list above
https://api.teleport.org/api/urban_areas/slug:san francisco/scores/
This row has an error, see cities list above
https://api.teleport.org/api/urban_areas/slug:new jersey/scores/

In [21]:
# create a data frame from cities, scores
city_dict = {
    "city": processed_cities,
    "housing": housing,
    "cost_of_living": cost_of_living,
    "safety": safety,
    "healthcare": healthcare,
    "education": education,
    "economy": economy,
    "outdoors": outdoors
}
city_data = pd.DataFrame(city_dict)
city_data.head(10)

,city,housing,cost_of_living,safety,healthcare,education,economy,outdoors
0,houston,5.2245,6.162,3.129,8.611000,4.9280,6.5145,5.3860
1,dallas,5.2590,6.091,4.339,8.439333,4.2840,6.5145,4.5020
2,austin,4.3345,5.355,5.069,8.686667,5.3150,6.5145,3.9090
3,baltimore,4.8300,4.982,2.373,8.944667,5.8805,6.5145,3.9795